# Raspberry Pi RP2350 MCU line

# Copyright (c) 2024 Andrew Featherstone
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_RP2350

config BUILD_OUTPUT_UF2_USE_FLASH_BASE
	default y if RP2_REQUIRES_IMAGE_DEFINITION_BLOCK

config BUILD_OUTPUT_UF2_USE_FLASH_OFFSET
	default y if !RP2_REQUIRES_IMAGE_DEFINITION_BLOCK

config NUM_IRQS
	default 52

if RISCV

# Only NAPOT mode is supported.
config PMP_NO_TOR
	default y

config PMP_NO_NA4
	default y

# config PMP_NO_LOCK_GLOBAL
# 	default y

# Only first 8 regions are user-programmable.
config PMP_SLOTS
	default 8

config PMP_GRANULARITY
	default 32

# Errata: RP2350-E6
config PMP_WORKAROUND_TRANSPOSED_XRW_CFG
	default y

endif

DT_CLK_SYS_PATH := $(dt_nodelabel_path,clk_sys)

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(dt_node_int_prop_int,$(DT_CLK_SYS_PATH),clock-frequency)

config CPU_HAS_CUSTOM_FIXED_SOC_MPU_REGIONS
	default y

endif # SOC_SERIES_RP2350
