# Copyright (c) 2021 Yonatan Schachter
# SPDX-License-Identifier: Apache-2.0

config HAS_RPI_PICO
	bool

config PICOSDK_USE_UART
	bool
	help
	  Use the UART driver from pico-sdk

config PICOSDK_USE_GPIO
	bool
	help
	  Use the GPIO driver from pico-sdk

config PICOSDK_USE_FLASH
	bool
	help
	  Use the flash driver from pico-sdk

config PICOSDK_USE_PWM
	bool
	help
	  Use the PWM driver from pico-sdk

config PICOSDK_USE_ADC
	bool
	help
	  Use the ADC driver from pico-sdk

config PICOSDK_USE_DMA
	bool
	help
	  Use the DMA driver from pico-sdk

config PICOSDK_USE_PIO
	bool
	select PICOSDK_USE_CLAIM
	help
	  Use the PIO driver from pico-sdk

config PICOSDK_USE_CLAIM
	bool
	help
	  Use the "claim" driver from pico-sdk

config PICOSDK_USE_TIMER
	bool
	help
	  Use the TIMER driver from pico-sdk

config PICOSDK_USE_RTC
	bool
	help
	  Use the RTC driver from pico-sdk

config PICOSDK_USE_SHA256
	bool
	help
	  Use the SHA-256 driver and utilities from pico-sdk

config PICOSDK_USE_RAND
	bool
	help
	  Use the "rand" driver from pico-sdk

config PICOSDK_USE_HW_DIVIDER
	bool "Use RP2040's hardware divider."
	depends on SOC_SERIES_RP2040
	select RP2_USE_SIO_DIVIDER
	select RP2_USERSPACE_DIVIDER if USERSPACE
	help
	  Use RP2040's hardware divider in SIO block.

config PICOSDK_DIVIDER_IN_RAM
	bool "Put RP2040's divider functions into SRAM"
	default n
	depends on PICOSDK_USE_HW_DIVIDER
	help
	  Put RP2040's divider functions into SRAM.

config PICOSDK_USE_BITOPS
	bool "Use optimized bitops functions."
	select NEED_LIBC_MEM_PARTITION if SOC_SERIES_RP2040
	select RPI_PICO_USE_ROMFUNC if SOC_SERIES_RP2040
	help
	  Use optimized bitops functions. For RP2040, this option will use the ROM
	  implementation.

config PICOSDK_BITOPS_IN_RAM
	bool "Put wrapper of bitops functions into SRAM"
	default n
	depends on PICOSDK_USE_BITOPS
	depends on !(MPU && SOC_SERIES_RP2040)
	help
	  Put wrapper of bitops functions into SRAM. Incompatible with
	  (MPU && SOC_SERIES_RP2040) because initializer itself requires bitops
	  to work but in-RAM function table is still uninitialized.

config PICOSDK_USE_ROM_MEMOPS
	bool "Use ROM implementation of memcpy and memset."
	select NEED_LIBC_MEM_PARTITION
	select RPI_PICO_USE_ROMFUNC
	depends on SOC_SERIES_RP2040
	help
	  Use ROM memcpy and memset.

config PICOSDK_MEMOPS_IN_RAM
	bool "Put wrapper of memcpy and memset into SRAM"
	default n
	depends on PICOSDK_USE_ROM_MEMOPS
	help
	  Put wrapper of memcpy and memset into SRAM.

config PICOSDK_USE_MUL64
	bool "Use the optimized implementation of __aeabi_lmul."
	depends on SOC_SERIES_RP2040
	help
	  Use the optimized implementation of __aeabi_lmul.

config PICOSDK_MUL64_IN_RAM
	bool "Put __aeabi_lmul into SRAM"
	depends on PICOSDK_USE_MUL64
	help
	  Put __aeabi_lmul into SRAM.
