# Raspberry Pi RP2040

# Copyright (c) 2021 Nordic Semiconductor ASA
# Copyright (c) 2021 Yonatan Schachter
# Copyright (c) 2025 Andy Lin
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_RP2040
	select ARM
	select CPU_CORTEX_M0PLUS
	select CPU_CORTEX_M_HAS_SYSTICK
	select CPU_CORTEX_M_HAS_VTOR
	select CPU_HAS_ARM_MPU
	select HAS_RPI_PICO
	select XIP
	select HAS_SEGGER_RTT if ZEPHYR_SEGGER_MODULE
	help
	  Enable support for Raspberry Pi RP2040 MCU series

if SOC_SERIES_RP2040

config RP2_REQUIRES_SECOND_STAGE_BOOT
	bool
	default y if FLASH_LOAD_OFFSET = 0x100

config RP2_USE_SIO_DIVIDER
	bool "Enable hardware divider in SIO block and maintain the state in kernel"
	select ARM_SOC_CONTEXT_SAVE
	help
	  Enable hardware divider in SIO block and maintain the state in kernel.
	  Enable this will save and restore the context across context switch,
	  syscall and ISR.

config RP2_USERSPACE_SIO
	bool "Expose SIO block except spinlocks to userspace"
	depends on USERSPACE
	help
	  Expose some accelerators in SIO block except spinlocks to userspace. Only
	  applicable if userspace were enabled. One extra MPU entry would be used.

config RP2_USERSPACE_DIVIDER
	bool "Expose hardware divider in SIO block to userspace"
	depends on USERSPACE
	depends on RP2_USE_SIO_DIVIDER
	select RP2_USERSPACE_SIO
	help
	  Expose hardware divider in SIO block to userspace.

# Flash type used by the SoC. The board should select the one used.

config RP2_FLASH_W25Q080
	bool
	help
	  Configure RP2 to use a W25Q080 flash chip, or similar. Should be selected
	  by the board definition, not the user.

config RP2_FLASH_GENERIC_03H
	bool
	help
	  Configure RP2 to use a flash chip supporting the standard 03h command.
	  Should be selected by the board definition, not the user.

config RP2_FLASH_IS25LP080
	bool
	help
	  Configure RP2 to use a IS25LP080 flash chip, or similar. Should be selected
	  by the board definition, not the user.

config RP2_FLASH_W25X10CL
	bool
	help
	  Configure RP2 to use a W25X10CL flash chip, or similar. Should be selected
	  by the board definition, not the user.

config RP2_FLASH_AT25SF128A
	bool
	help
	  Configure RP2 to use a AT25SF128A flash chip, or similar. Should be selected
	  by the board definition, not the user.

endif
